@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --purple: #6419ff;
  --pink : #9A55FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(154,85,255);
  background: linear-gradient(180deg, rgba(154,85,255,1) 22%, rgba(157,91,254,1) 29%, rgba(236,236,236,1) 100%);
  background-repeat: none;
}

button, .button{
  background-color: var(--purple);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 16px !important;
  border: none !important;
  outline: none;
  line-height: 18px !important;
}

button.button-sm, .button.button-sm{
  padding: 0.4rem 0.8rem;
  font-size: 14px !important;
}

.input-group{
  position: relative;
}

.input-group label{
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
}

.input-group input, .input-group textarea,
.input-group input:focus, .input-group textarea:focus{
  display: block;
  border: 1px solid #f3f3f3;
  background-color: #f3f3f3;
  width: 100%;
  font-size: 1rem;
  padding: 8px 10px;
  border-radius: 5px;
  outline: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
